.container {
    display: flex;
    font-size: 3em;
    background: yellow;
   flex-wrap: wrap;

    
}

.item {
    background: pink;
   width: 300px;
   flex-shrink: 3;
}

.item:nth-child(3) {
    flex-shrink: 5;
}



.item:nth-child(even) {
    background: cyan;
}

