.container {
    display: flex;
    font-size: 1.5em;
    background: yellow;
    /* flex-direction: column; */
  

    
}

.item {
    background: pink;
    flex-grow: 1;
    flex-basis: 0;
    /* width: 300px; */
}



.item:nth-child(even) {
    background: cyan;
}

.item:nth-child(3) {
    flex-shrink: 5;
}

